.accordion {
	ul, li {
		font-size:14px;
		color: #f2dc77;
		list-style:none;
		padding: 0;
		margin: 0;
		text-shadow: 0 1px 0 #000;
	}
	a {
		display: block;
		border: none;
	}
	ul {
		padding: 0 0 20px 0;
		border-radius: 10px 0 0 10px / 200px 0 0 200px;
	}

	li {
		padding: 8px 0 8px 0px;
	}
		
	li:hover {
		color: #77dcf2;
	}	

	ul li ul {
		//display: none;
		padding-left: 20px;
		padding-top: 16px;
		margin-top: 20px;

	}

	ul.active {
		display: block;
	}

	& > ul {
		overflow: hidden;
		margin-left: 10px;
	}
	& > ul > li {
		padding: 10px 0 10px 20px;
		&:hover {
			& ul {
			background: rgba(0,0,0,0.05);
			}
		}
		&:first-child {
			padding-top: 20px;
		}
	}

	ul {
		border-left: 5px solid transparentize(rgb(255,200,200),0.4);
		& > li > ul {
			border-left: 5px solid transparentize(rgb(255,157,127),0.4);

			& > li > ul {
				border-left: 5px solid transparentize(rgb(255,127,127),0.4);
			}
		}
	}

}